@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-100;
  }
}

/* Custom Scrollbar Properties */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1f1f1f;
}

::-webkit-scrollbar-thumb {
  background: rgb(34, 197, 94);
  /* Tailwind's green-500 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 163, 74);
  /* Tailwind's green-600 on hover */
}